<main class="main">
    <%- include("../../includes/bread") %>

    <div class="error-content text-center" style="background-image: url(/assets/images/backgrounds/error-bg.jpg)">
        <div class="container">
            <h1 class="error-title">خطای 403</h1><!-- End .error-title -->
            <p class="text-center">متاسفانه شما اجازه دسترسی به این صفحه را ندارید</p>
            <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg">
                <span>بازگشت به صفحه اصلی</span>
                <i class="icon-long-arrow-left"></i>
            </a>
        </div><!-- End .container -->
    </div><!-- End .error-content text-center -->
</main><!-- End .main -->