<aside class="col-md-4 col-lg-3">
    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="/user/dashboard" aria-selected="true">داشبورد</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/user/addressuser" aria-selected="true">ثبت آدرس</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/user/dashboard" aria-selected="true">ویرایش اطلاعات</a>
        </li>
    </ul>
</aside><!-- End .col-lg-3 -->