<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
            <a href="/">
                <i class="menu-icon glyphicon glyphicon-asterisk"></i>
                <span class="menu-text"> وب سایت </span>
            </a>
        </li>
        <li>
            <a href="/admin/dashboard">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> داشبورد </span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> محصولات </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="/admin/createproduct">
                        <span class="menu-text">ساخت محصول</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-dropdown">
                        <span class="menu-text">
                            آیکون ها
                        </span>
                        <i class="menu-expand"></i>
                    </a>

                    <ul class="submenu">
                        <li>
                            <a href="font-awesome.html">
                                <i class="menu-icon fa fa-rocket"></i>
                                <span class="menu-text">Font Awesome</span>
                            </a>
                        </li>
                        <li>
                            <a href="glyph-icons.html">
                                <i class="menu-icon glyphicon glyphicon-stats"></i>
                                <span class="menu-text">Glyph Icons</span>
                            </a>
                        </li>
                        <li>
                            <a href="typicon.html">
                                <i class="menu-icon typcn typcn-location-outline"></i>
                                <span class="menu-text"> Typicons</span>
                            </a>
                        </li>
                        <li>
                            <a href="weather-icons.html">
                                <i class="menu-icon wi wi-hot"></i>
                                <span class="menu-text">Weather Icons</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="tabs.html">
                        <span class="menu-text">زبانه ها و آکوردئون ها</span>
                    </a>
                </li>
                <li>
                    <a href="alerts.html">
                        <span class="menu-text">هشدارها و راهنماها</span>
                    </a>
                </li>
                <li>
                    <a href="modals.html">
                        <span class="menu-text">مدال و Wells</span>
                    </a>
                </li>
                <li>
                    <a href="buttons.html">
                        <span class="menu-text">دکمه ها</span>
                    </a>
                </li>
                <li>
                    <a href="nestable-list.html">
                        <span class="menu-text"> لیست های تو در تو</span>
                    </a>
                </li>
                <li>
                    <a href="treeview.html">
                        <span class="menu-text">درخت ها</span>
                    </a>
                </li>
            </ul>
        </li>
        <!--Tables-->
        <li>
            <a href="versions.html">
                <i class="menu-icon glyphicon glyphicon-fire themesecondary"></i>
                <span class="menu-text">
                    raba-group
                </span>
            </a>
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>
<!-- /Page Sidebar -->