<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">ورود / ثبت نام</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
        style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active">ورود</a>
                        </li>
                    </ul>
                    <div class=" tab-content">
                        <div class="tab-pane fade show active">
                            <%- include("../../messages/message") %>
                                <%- include("../../messages/error") %>
                                    <form action="/user/login" method="post" id="loginForm">
                                        <input type="hidden" value="" id="captcha" name="captcha">
                                        <div class="form-group my-5">
                                            <label for="email">پست الکترونیک *</label>
                                            <input type="email" class="form-control" id="email" name="email" value="<%= formData ? formData.email : '' %>">
                                        </div><!-- End .form-group -->

                                        <div class="form-group my-5">
                                            <label for="password">کلمه عبور *</label>
                                            <input type="password" class="form-control" id="password" name="password" value="<%= formData ? formData.password : '' %>"> 
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>ورود</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="register-policy-2" name="remember">
                                                <label class="custom-control-label" for="register-policy-2">
                                                    <p>مرا بخاطر بسپار</p>
                                                </label>
                                            </div><!-- End .custom-checkbox -->
                                            <div class="col-12">
                                                <p><a href="/forgotPass">فراموشی رمز عبور</a></p>
                                            </div>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">یا ورود با </p>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a href="/user/google" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    حساب کاربری گوگل
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->

<script src="https://www.google.com/recaptcha/api.js?render=6Lc2RkwdAAAAAFkWDXKj2d5v7zc4JaR0Is4i3PbN"></script>

<script src="/assets/js/auth/captcha.js"></script>

<script src="assets/js/auth/loginPage.js"></script>